node_modules/
dist/
win-unpacked/
documentacion/
uploads/
tests/
usuarios/
*.blockmap
*.log
*.dll
*.dmg
.vs/
# Base de datos de usuario
finanzas.db
commandosBuild.txt
commandosBuild.sh
comandosBuild.txt
scriptVersion.js

.github/prompts/

CLAUDE.md